* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header svg {
  width: 100%;
}

/* Optional: Apply a base font and color */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.destinationForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destinationForm div {
  margin-bottom: 24px;
}

.destinationForm div:not(:last-child) {
  display: flex;
  flex-direction: column;
}

.destinationForm div label {
  font-size: 10.24px;
  line-height: 15.36px;
  font-weight: 400;
  color: #333;
  margin-left: 15px;
}

.destinationForm div label span {
  color: #ff0000;
}

.destinationForm div input,
.destinationForm div textarea {
  width: 500px;
  height: 40px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-top: 1px solid #ff8a50;
  border-left: 1px solid #ff8a50;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 6px;
  padding-left: 13px;
}

.destinationForm div input::placeholder {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
}

.destinationForm div button:first-child {
  margin-right: 10rem;
}
